* {
    padding: 0;
    margin: 0;
}

header {
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: space-between;

    & img {
        width: 50px;
        height: 50px;
    }

    #modulos {
        color: white;
        font-size: large;
        align-self: center;


        a {
            padding-left: 20px;
        }
    }
}

.main-content {
    background-color: rgb(227, 208, 208);
    padding: 50px;

    #principal {
        background-color: rgb(199, 140, 199);
        border: 3px solid white;
        border-radius: 8px;

        #first {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 50px;
            text-align: center;

            img {
                width: 500px;
                height: 300px;
            }
        }

        #second {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 50px;

            img {
                width: 500px;
                height: 300px;
            }
        }
    }

    #secondary {
        background-color: yellow;
        border: 3px solid white;
        border-radius: 8px;

        background-color: rgb(199, 140, 199);
        border: 3px solid white;
        border-radius: 8px;
        text-align: center;

        #first {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 50px;

            video {
                width: 500px;
                height: 300px;
            }
        }

        #second {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 50px;

            video {
                width: 500px;
                height: 300px;
            }
        }
    }
}

img {
    width: 100px;
    height: 100px;
}



footer {
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 20px;
    font-size: 15px;

}